* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    height: 100vh;
    background-image:linear-gradient(lightblue, violet) ;
}
.boxlogin {
    width: 450px;
    margin: 130px auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 5px 5px 9px #888888;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.header-login {
    padding-top: 5px;
    text-align: center;
}
.header-login img {
    display: inline-block;
    padding: 10px 10px;
    width: 120px;
    text-align: center;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}
.body-login {
    width: 100%;
    margin: 0 auto;
    padding: 0px 20px 20px;
}
.form-group {
    display: flex;
    flex-direction: row;
    align-content: center;
}
i {
    display: block;
    width: 50px;
    height: 38px;
    text-align: center;
    border: 1px solid lightgray;
    align-items: center;
    padding-top: 10px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
label {
    cursor: pointer;
    margin-bottom: 7px;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: rgb(63, 61, 61);
    display: block;
}
.form-control {
    display: inline-block;
    width: 100%;
    border-radius: 4px;
    padding: 10px 10px;
    outline: none;
    border: 1px solid lightgray;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-bottom: 10px;
    color: rgb(104, 95, 95);
    font-size: 14px;
}
.remember {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.remember-me {
    margin-right: 5px;
    margin-top: 2px;
    display: inline-block;
    margin-bottom: 5px;
}
.btn-wrapper  {
    margin-bottom: 10px;
}
.btn {
    display: inline-block;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
}
.login {
    background-image:repeating-linear-gradient(lightblue, violet) ;
    color: white;
    opacity: 0.7;
    transition: opacity .7s ease-in;
}
.login:hover {
    cursor: pointer;
    opacity: 1;
}
.sign-up {
    padding-top: 15px;
}
.sign-up p {
    text-align: center;
    font-size: 14px;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: rgb(46, 46, 46);
}
/* sign up */
.boxsign {
    width: 450px;
    margin: 100px auto;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 5px 5px 9px #888888;
    position: absolute;
    top: 0;
    left: 0;
    right: 0; 
    transform: translateY(-1000px);
    transition: all .7s ease-in;
    visibility: hidden;
}
.show-box-sign {
    transform: translateY(0);
    visibility: visible;
}
.dangers {
    color: red;
    font-size: 12px;
}
.title-admin {
    text-align: center;
    letter-spacing: 2px;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.getGagal {
    background-color: red;
    padding: 10px;
    display: block;
    width: 450px;
    margin: 10px auto;
}
.getGagal p {
    color: white;
    text-align: center;
}

@media (max-width:500px) {
    .boxlogin {
        width: 80%;
        margin: 100px auto;
    }
    .boxsign {
        width: 80%;
        margin: 100px auto;
    }
    
}
